/* .App {
  text-align: center;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "./css/menu.css";
@import  "./css/category.css";


h1{
margin: 20px 0;
text-align: center;
/* color: #000; */
}